@media(min-width: 768px){
	.col-form-label{
		text-align: right;
	}
	#expand-title{
		display: block;
	}
	#mini-title{
		display: none;
	}
}

@media(max-width: 767px){
	.col-form-label{
		text-align: left;
	}
	#expand-title{
		display: none;
	}
	#mini-title{
		display: block;
	}
}

body{
	/*background-color: rgba(56,197,125,1);*/
}

/****************************************

			Profile Edit
		
****************************************/

#update-name-msg,#update-password-msg{
	color: #ff7676;
}